@media (max-width: 575px)
    .promo
        .header
            &__logo
                img
                    width: 70%
            &__official
                span
                    font-size: 16px
            &__phone
                font-size: 15px
            .button
                width: 125px
                height: 25px
                font-size: 10px
        &__header
            font-size: 38px
        &__subheader
            font-size: 21px
        &__icons
            width: 350px
        &__link
            font-size: 15px
    .advantages
        &__title
            font-size: 17px
        &__descr
            font-size: 12px